* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  height: 100vh;
  min-width: 1024px;
}

:root {
  --color-light-blue: #eaf5fc;
  --color-blue: #0c5f97;
  --color-white: #fff;
  --color-light-gray: #eee;
  --color-red: #d52e43;
  --color-gray: #cac4c9;
  --color-brown: #4d394b;
  --color-dark-brown: #3e313c;
  --color-dark-gray: #919193;
  --color-dark-green: #128854;
  --color-green: #4f9689;
  --header-height: 54px;
  --margin-s: 4px;
  --margin-m: 8px;
  --margin-l: 12px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --message-height: 0;
  --edit-message-height: 0;
}
